$main-text-color: #757575;
$text-caption-color: #212121;
$color-white: #fff;
$accent-color: #2196f3;

$animation-duration: 250ms;
$animation-type: cubic-bezier(0.4, 0, 0.2, 1);

$main-font-family: "Roboto", sans-serif;
$sec-font-family: "Raleway", sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;
$main-font-size: 14px;
$sec-font-size: 16px;
$caption-font-size: 36px;
